DEBUG=0
DJANGO_ALLOWED_HOSTS=127.0.0.1
DJANGO_SECRET_KEY=
SQL_ENGINE=django.db.backends.postgresql
DB_NAME=hello_django_dev
DB_USER=hello_django
DB_PASS=hello_django
DB_HOST=db
DB_PORT=5432
DATABASE=postgres
CSRF_TRUSTED_ORIGINS=http://localhost:3000
